/backend/.env
/backend/node_modules
/backend/dist

/soonly/node_modules
/soonly/.nuxt
/soonly/.output
/soonly/.data
/soonly/.nitro
/soonly/.cache
/soonly/.DS_Store
/soonly/.fleet
/soonly/.idea
/soonly/.env.*
!/soonly/.env.example
**/soonly/*.log

/dist
/logs
*.log
