/backend/.env
/backend/node_modules
/backend/dist

/soonly/.env
/soonly/node_modules
/soonly/.nuxt

/soonly/.output
/soonly/.data
/soonly/.nuxt
/soonly/.nitro
/soonly/.cache
dist


logs
*/soonly/.log

/soonly/.DS_Store
/soonly/.fleet
/soonly/.idea

/soonly/.env
/soonly/.env.*
!.env.example